In [52]:
import pandas as pd

file1 = pd.read_csv('file1.csv')

In [53]:
file1.shape

(4008, 11)

In [54]:
file2 = pd.read_csv('file2.csv')
file2.shape

(996, 11)

In [55]:
file3 = pd.read_csv('file3.csv')
file3.shape

(7070, 11)

In [56]:
column_names = file1.columns
column_names

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [57]:
column_names = file2.columns
column_names

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

In [58]:
column_names = file3.columns
column_names

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [59]:
file3 = file3.rename(columns={'State':'ST'})
file3.head()

,Customer,ST,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV

In [60]:
column_names = file3.columns
column_names

Index(['Customer', 'ST', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [61]:
file1 = file1.rename(columns={'GENDER':'Gender'})
file1.head()

,Customer,ST,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [62]:
file1[['Customer', 'ST', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class']]

,Customer,ST,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,2.704934,Four-Door Car
1,QZ44356,Arizona,697953.59%,Bachelor,F,0.0,94.0,1/0/00,Personal Auto,1131.464935,Four-Door Car
2,AI49188,Nevada,1288743.17%,Bachelor,F,48767.0,108.0,1/0/00,Personal Auto,566.472247,Two-Door Car
3,WW63253,California,764586.18%,Bachelor,M,0.0,106.0,1/0/00,Corporate Auto,529.881344,SUV
4,GA49547,Washington,536307.65%,High School or Below,M,36357.0,68.0,1/0/00,Personal Auto,17.269323,Four-Door Car
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
file2 = file2.rename(columns={'GENDER':'Gender'})
file2.head()

,Customer,ST,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.6,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.2,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.6,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.2,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.2,Corporate Auto,Two-Door Car

In [64]:
file2[['Customer', 'ST', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class']]

,Customer,ST,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,GS98873,Arizona,323912.47%,Bachelor,F,16061,88,1/0/00,Personal Auto,633.600000,Four-Door Car
1,CW49887,California,462680.11%,Master,F,79487,114,1/0/00,Special Auto,547.200000,SUV
2,MY31220,California,899704.02%,College,F,54230,112,1/0/00,Personal Auto,537.600000,Two-Door Car
3,UH35128,Oregon,2580706.30%,College,F,71210,214,1/1/00,Personal Auto,1027.200000,Luxury Car
4,WH52799,Arizona,380812.21%,College,F,94903,94,1/0/00,Corporate Auto,451.200000,Two-Door Car
...,...,...,...,...,...,...,...,...,...,...,...
991,HV85198,Arizona,847141.75%,Master,M,63513,70,1/0/00,Personal Auto,185.667213,Four-Door Car
992,BS91566,Arizona,543121.91%,College,F,58161,68,1/0/00,Corporate Auto,140.747286,Four-Door Car
993,IL40123,Nevada,568964.41%,College,F,83640,70,1/0/00,Corporate Auto,471.050488,Two-Door Car
994,MY32149,California,368672.38%,Master,F,0,96,1/0/00,Personal Auto,28.460568,Two-Door Car
995,SA91515,California,399258.39%,Bachelor,M,0,111,1/0/00,Personal Auto,700.349052,SUV

In [65]:
file3

,Customer,ST,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,23405.987980,Bachelor,M,71941,73,0,Personal Auto,198.234764,Four-Door Car
7066,PK87824,California,3096.511217,College,F,21604,79,0,Corporate Auto,379.200000,Four-Door Car
7067,TD14365,California,8163.890428,Bachelor,M,0,85,3,Corporate Auto,790.784983,Four-Door Car
7068,UP19263,California,7524.442436,College,M,21941,96,0,Personal Auto,691.200000,Four-Door Car
7069,Y167826,California,2611.836866,College,M,0,77,0,Corporate Auto,369.600000,Two-Door Car

In [66]:
file1["Customer Lifetime Value"] = file1["Customer Lifetime Value"].str.replace("%","")
file1.head()

,Customer,ST,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [67]:
file2["Customer Lifetime Value"] = file2["Customer Lifetime Value"].str.replace("%","")
file2.head()

,Customer,ST,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47,16061,88,1/0/00,633.6,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11,79487,114,1/0/00,547.2,Special Auto,SUV
2,MY31220,California,F,College,899704.02,54230,112,1/0/00,537.6,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30,71210,214,1/1/00,1027.2,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21,94903,94,1/0/00,451.2,Corporate Auto,Two-Door Car

In [68]:
data = pd.concat([file1, file2, file3], axis=0)
data.shape
data

,Customer,ST,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [69]:
data.dtypes
data._get_numeric_data()

       Income  Monthly Premium Auto  Total Claim Amount
0         0.0                1000.0            2.704934
1         0.0                  94.0         1131.464935
2     48767.0                 108.0          566.472247
3         0.0                 106.0          529.881344
4     36357.0                  68.0           17.269323
...       ...                   ...                 ...
7065  71941.0                  73.0          198.234764
7066  21604.0                  79.0          379.200000
7067      0.0                  85.0          790.784983
7068  21941.0                  96.0          691.200000
7069      0.0                  77.0          369.600000

[12074 rows x 3 columns]

In [70]:
data.dtypes
data.select_dtypes(['object'])

,Customer,ST,Gender,Education,Customer Lifetime Value,Number of Open Complaints,Policy Type,Vehicle Class
0,RB50392,Washington,NaN,Master,NaN,1/0/00,Personal Auto,Four-Door Car
1,QZ44356,Arizona,F,Bachelor,697953.59,1/0/00,Personal Auto,Four-Door Car
2,AI49188,Nevada,F,Bachelor,1288743.17,1/0/00,Personal Auto,Two-Door Car
3,WW63253,California,M,Bachelor,764586.18,1/0/00,Corporate Auto,SUV
4,GA49547,Washington,M,High School or Below,536307.65,1/0/00,Personal Auto,Four-Door Car
...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,23405.98798,0,Personal Auto,Four-Door Car
7066,PK87824,California,F,College,3096.511217,0,Corporate Auto,Four-Door Car
7067,TD14365,California,M,Bachelor,8163.890428,3,Corporate Auto,Four-Door Car
7068,UP19263,California,M,College,7524.442436,0,Personal Auto,Four-Door Car
7069,Y167826,California,M,College,2611.836866,0,Corporate Auto,Two-Door Car

In [71]:
data = data.drop(['Education','Number of Open Complaints'], axis=1)
data.head()

,Customer,ST,Gender,Customer Lifetime Value,Income,Monthly Premium Auto,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,697953.59,0.0,94.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,1288743.17,48767.0,108.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,764586.18,0.0,106.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,536307.65,36357.0,68.0,Personal Auto,Four-Door Car,17.269323

In [74]:
data["Customer Lifetime Value"] = pd.to_numeric(data["Customer Lifetime Value"], errors='coerce')
data.head

<bound method NDFrame.head of      Customer          ST Gender  Customer Lifetime Value   Income  \
0     RB50392  Washington    NaN                      NaN      0.0
1     QZ44356     Arizona      F                      NaN      0.0
2     AI49188      Nevada      F                      NaN  48767.0
3     WW63253  California      M                      NaN      0.0
4     GA49547  Washington      M                      NaN  36357.0
...       ...         ...    ...                      ...      ...
7065  LA72316  California      M             2.340599e+06  71941.0
7066  PK87824  California      F             3.096511e+05  21604.0
7067  TD14365  California      M             8.163890e+05      0.0
7068  UP19263  California      M             7.524442e+05  21941.0
7069  Y167826  California      M             2.611837e+05      0.0

      Monthly Premium Auto     Policy Type  Vehicle Class  Total Claim Amount
0                   1000.0   Personal Auto  Four-Door Car            2.704934
1                     94.0   Personal Auto  Four-Door Car         1131.464935
2                    108.0   Personal Auto   Two-Door Car          566.472247
3                    106.0  Corporate Auto            SUV          529.881344
4                     68.0   Personal Auto  Four-Door Car           17.269323
...                    ...             ...            ...                 ...
7065                  73.0   Personal Auto  Four-Door Car          198.234764
7066                  79.0  Corporate Auto  Four-Door Car          379.200000
7067                  85.0  Corporate Auto  Four-Door Car          790.784983
7068                  96.0   Personal Auto  Four-Door Car          691.200000
7069                  77.0  Corporate Auto   Two-Door Car          369.600000

[12074 rows x 9 columns]>

In [75]:
data["Customer Lifetime Value"] = data["Customer Lifetime Value"]*100
data.head

<bound method NDFrame.head of      Customer          ST Gender  Customer Lifetime Value   Income  \
0     RB50392  Washington    NaN                      NaN      0.0
1     QZ44356     Arizona      F                      NaN      0.0
2     AI49188      Nevada      F                      NaN  48767.0
3     WW63253  California      M                      NaN      0.0
4     GA49547  Washington      M                      NaN  36357.0
...       ...         ...    ...                      ...      ...
7065  LA72316  California      M             2.340599e+08  71941.0
7066  PK87824  California      F             3.096511e+07  21604.0
7067  TD14365  California      M             8.163890e+07      0.0
7068  UP19263  California      M             7.524442e+07  21941.0
7069  Y167826  California      M             2.611837e+07      0.0

      Monthly Premium Auto     Policy Type  Vehicle Class  Total Claim Amount
0                   1000.0   Personal Auto  Four-Door Car            2.704934
1                     94.0   Personal Auto  Four-Door Car         1131.464935
2                    108.0   Personal Auto   Two-Door Car          566.472247
3                    106.0  Corporate Auto            SUV          529.881344
4                     68.0   Personal Auto  Four-Door Car           17.269323
...                    ...             ...            ...                 ...
7065                  73.0   Personal Auto  Four-Door Car          198.234764
7066                  79.0  Corporate Auto  Four-Door Car          379.200000
7067                  85.0  Corporate Auto  Four-Door Car          790.784983
7068                  96.0   Personal Auto  Four-Door Car          691.200000
7069                  77.0  Corporate Auto   Two-Door Car          369.600000

[12074 rows x 9 columns]>

In [44]:
print(data.shape)
data2 = data.copy()
data2 = data2.drop_duplicates()
print(data2.shape)

(12074, 9)
(9135, 9)

In [45]:
data2[data2["Income"]>0]

,Customer,ST,Gender,Customer Lifetime Value,Income,Monthly Premium Auto,Policy Type,Vehicle Class,Total Claim Amount
2,AI49188,Nevada,F,1288743.17,48767.0,108.0,Personal Auto,Two-Door Car,566.472247
4,GA49547,Washington,M,536307.65,36357.0,68.0,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,825629.78,62902.0,69.0,Personal Auto,Two-Door Car,159.383042
6,XZ87318,Oregon,F,538089.86,55350.0,67.0,Corporate Auto,Four-Door Car,321.600000
8,DY87989,Oregon,M,2412750.40,14072.0,71.0,Corporate Auto,Four-Door Car,511.200000
...,...,...,...,...,...,...,...,...,...
7063,TF56202,California,M,5032.165498,66367.0,64.0,Personal Auto,Two-Door Car,307.200000
7064,YM19146,California,F,4100.398533,47761.0,104.0,Personal Auto,Four-Door Car,541.282007
7065,LA72316,California,M,23405.98798,71941.0,73.0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,3096.511217,21604.0,79.0,Corporate Auto,Four-Door Car,379.200000
7068,UP19263,California,M,7524.442436,21941.0,96.0,Personal Auto,Four-Door Car,691.200000